<!-- _PropertyMenu.cshtml -->
@using Utility;
@using Infrastructure.Models 
@inject DataAccess.UnitofWork UnitofWork 

@{
    // Retrieve the current user from ViewData
    var currentUser = ViewData["CurrentUser"] as ApplicationUser;

    // Check if the current user has any properties
    var hasProperty = UnitofWork.Property.GetAll(p => p.ApplicationUser == currentUser).Any();
}
    @if (User.IsInRole(SD.ListerRole))
{
    <!-- Render "Listing" link if the user has properties -->
    <a class="dropdown-item" asp-area="" asp-page="/Dashboard/IncomeReport"> Income Report</a>
    <a class="dropdown-item" asp-page="/Dashboard/UpsertProperty" asp-route-id="0" class="btn btn-primary">Add Property</a>
}
else
{
    <!-- Render "Add home" link if the user doesn't have properties -->
    <a class="dropdown-item" asp-page="/Dashboard/UpsertProperty" asp-route-id="0" class="btn btn-primary">Add Property</a>
}
