@page
@model ViewPropertyModel
@{
}
<div class="card container p-4 m-3">
	<div class="card-header pt-3">
		<div>
			<p>"INSERT LOCATION"</p>
		</div>
	</div>
	<div class="p-3 card-body">
		<div id="carouselExample" class="carousel slide w-75 mx-auto h-100">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active mx-auto">
					<img src="https://th.bing.com/th/id/OIP.y-IapTd8IOvbIH4wJJbsqgHaEj?rs=1&pid=ImgDetMain" width="400" class="mx-auto" >
				</div>
				<div class="carousel-item">
					<img src="https://th.bing.com/th/id/OIP.dl_UFpJLmJ0cTpyoLJpA5QHaFR?w=245&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" width="400" class="mx-auto">
				</div>
				<div class="carousel-item">
					<img src="https://th.bing.com/th/id/OIP.0rKOXvHgRbE9BWEX5W3b1wHaFj?rs=1&pid=ImgDetMain" width="400" class="mx-auto">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="card-footer col-8">
			<div class="p-2">
				<div class="row">
					<div>
						<p>Description</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="card">
				<div class="row p-3">
					<div>
						<h3>PRICE / Hour</h3>
					</div>
					<div>
						<p>INSERT CALENDAR HERE</p>
					</div>
					<div>
						<a href="#" class="btn btn-primary">RESERVE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>