@page
@model FireBnBWeb.Pages.AboutModel
@{
}

<div>
    <h2>Our Team of Developers</h2>
    <ul>
        <li>
            <p>Austin Allred</p>
        </li>
        <li>
            <p>Gavin Evans</p>
        </li>
        <li>
            <p>Michael Baxter</p>
        </li>
        <li>
            <p>Alloryn Mappin</p>
        </li>
        <li>
            <p>Nicholas Stephenson</p>
        </li>
    </ul>
</div>
<div>
    <h2>Our Project</h2>
    <p>
        In the spring of 2024, as part of our CS capstone project, we embarked on a journey to create a platform that simulates the functionality of Airbnb. Our goal was to streamline the process of property booking and listing, making it effortless for users to connect with accommodations and hosts alike. We initiated our project by thoroughly analyzing the needs and preferences of our target users. By adhering to the principles of the software development cycle, we meticulously crafted a solution from the ground up. Utilizing the robust ASP.NET framework, we meticulously designed and implemented a functional clone of Airbnb, ensuring a seamless and intuitive user experience. Our dedication to detail and commitment to excellence drove us to create a platform that mirrors the efficiency and reliability of the original while catering to the unique requirements of our school community.
    </p>
    <p>
        Utilizing the robust ASP.NET framework, we meticulously designed and implemented a functional clone of Airbnb, ensuring a seamless and intuitive user experience. Our dedication to detail and commitment to excellence drove us to create a platform that mirrors the efficiency and reliability of the original while catering to the unique requirements of our school community.
    </p>    
</div>