@page
@model FireBnBWeb.Pages.AboutModel
@{
}
<h1>Current Developers</h1>
<ul>
	<li>
		<p>Austin Allred</p>
	</li>
	<li>
		<p>Gavin Evans</p>
	</li>
	<li>
		<p>Michael Baxter</p>
	</li>
	<li>
		<p>Alloryn Mappin</p>
	</li>
	<li>
		<p>Nicholas Stephenson</p>
	</li>
</ul>